body{
    margin: 0px;

}
.header{
    height: 100px;
    width: auto;
    background-color: rgb(199, 199, 199);
    position: sticky;
    top: 0px;
    z-index: 5;
}
.footer{
    height: 250px;
    background-color: rgb(199, 199, 199);
}
.mainContainer{
    height: auto;
}
.header img {
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: -6px;
}
.nav{
    float: right;
    list-style: none;
}
.nav li{
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}
.nav li a{
    text-decoration: none;
    color: #525252;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginContainer{
    border: 1px solid #ccc;
    width: 1250px;
    height: 500px;
    margin: 200px auto !important;
    z-index: 4;
    position: relative;
}
.sign-in{
    width: 600px;
    height: 500px;
    background-color: rgb(199, 199, 199);
}
.sign-in img {
    width: 250px;
    height: 250px;
    margin-left: 175px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.sign-in div {
    font-size: 18px;
    font-weight: 600;
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
}
.sign-in_click1{
    position: absolute;
    left: 200px;
    top: 370px;
}
.sign-in_click2{
    position: absolute;
    left: 315px;
    top: 370px;
}

.login{
    width: 648px;
    height: 500px;
    background-color: #efefef;
    position: absolute;
    left: 600px;
    top: 0px;
    border: 1px solid #efefef;
}

.login-page{
    list-style: none;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 3;
    display: block;
}
.login-page li{
    border: 1px solid #efefef;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;   
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    padding: 10px;
}
.login-page li input[type = text]{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
}
.login-page li input[type = password]{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
}
.login-page li input[type = button]{
    border-radius: 5px;
    height: 35px;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #ccc;
    border-color: #525252;
    color: #525252;
    font-size: 15px;
    font-weight: bold;
}
.login-page li p{
    margin-left: 72px;
}

.sign-in-page{
    list-style: none;
    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 2;
    display: none;
}
.sign-in-page li{
    border: 1px solid #efefef;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;   
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    padding: 10px;
}
.sign-in-page li input[type = text]{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
}
.sign-in-page li input[type = password]{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
}
.sign-in-page li input[type = button]{
    border-radius: 5px;
    height: 35px;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #ccc;
    border-color: #525252;
    color: #525252;
    font-size: 15px;
    font-weight: bold;
}

.Fg_password{
    list-style: none;
    position: absolute;
    top: 170px;
    left: 100px;
    z-index: 1;
    display: none;
}
.Fg_password li{
    border: 1px solid #efefef;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;   
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    padding: 10px;
}
.Fg_password li input[type = text]{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
}
.Fg_password li input[type = button]{
    border-radius: 5px;
    height: 35px;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #ccc;
    border-color: #525252;
    color: #525252;
    font-size: 15px;
    font-weight: bold;
}

.ft_about,
.ft_prdt,
.ft_contact,
.ft_follow{
    color:#525252;
    list-style: none;
    width: 475px;
    height: 220px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.ft_about img{
    width: 100px;
    height: 100px;
    margin: 10px 205px;
}
.ft_about p{
    font-size: 14px;
    padding-left: 50px;
    padding-right: 10px; 
}
.ft_prdt ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.ft_contact ul li{
    list-style: none;
    margin-top: 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.ft_follow ul li{
    list-style: none;
    margin-top: 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.ft_title{
    font-size: 20px !important;
    font-weight: bold;
    text-align: center;
    margin-top: 30px !important;
}
.ft_copyright{
    color:#525252;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: auto;
    height: 30px;
    background-color: #efefef; 
    margin-top: 202px;
    font-family: Arial, Helvetica, sans-serif;
}

